@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Be Vietnam Pro', sans-serif;
}

#image-bkg {
  background-image: url(images/hero-image-github-profile.png); 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat;
  min-height: 250px;
}